.App {
  text-align: center;
}

.no-drag {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.banner {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}